@page
@model AboutModel
@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<center><b><h1>Welcome!</h1></b></center>


<center><img src="~/images/vibes.gif" alt="main image" /></center>

<center>
<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img src="~/images/teamwork .jpg" alt="Avatar" style="width:300px;height:300px;">
        </div>

        <div class="flip-card-back">
            <h1>Oh hi there</h1>
            <p></p>
            <p>

        </div>
    </div>
</div>
<center><b><h1><font color="plum">Begin here</font></h1></b></center>

<center>
    <p>
        For four months I have been at a internship here at i.c.stars in the heart of Milwaukee. Although the time here was short it was a lot that I have
        learned here. It isn't just about coding in fact there is more to it than that. Here you get trained in business, leadership, and of course technology but
        you feel like you're becoming the jack of all trades because there is just so many things to learn here. To start off with your first month here at i.c.stars is pretty
        much like a phone detox month. However they mention that the first month is very important and since us interns are still getting used to our new surrounding we want to be
        in the moment as much as possible.
    </p>

    <b><h1><font color="red">Welcome to i.c.stars!</font></h1></b>

    <p>
        Think you'll be clocking into work just to be coding 24/7? Think again! Be ready to head out the doors in the middle of the day to either tour the next place you'll be interning, or you will be at a social event
        trying to network and collect as many business cards as possible. (Are you telling me I get paid to party?) Well lets not put it that way. You're being trained for 12 intense hours of the day but at the same time work
        doesn't feel like work when it becomes your passion. You dive into projects, teamwork collaborations, daily high tea (yes you get cookies and tea!) workshops that captures the best version of you, and make great connections with your colleagues.
    </p>
</center>

<center><b><h1><font color="plum">The trainee life</font></h1></b></center>
<p>
    In this website there are many different highlights the program has to offer. I'll be speaking about the tribal roles, events you get to attend, and some other
    secrets that can be discovered on your own.
</p>

<center><b><h1><font color="red">Daily high tea</font></h1></b></center>
<center>
    <p>
        At i.c.stars you get to have your daily dose of caffiene. Every day you have a different guest that talk about their career path and who they are as a person. I will be honest it may
        not be your cup of tea to have tea every single day but you mind as well make the most out of it. Starting at 3pm you select your host/hostess for the day, next you prepare for the tea and cookie. This will be
        your daily dose of sugar rush so don't worry if you can't get a cup of coffee. You get to drink tea for free every single day. Here is a quick secret! During the gift presentation there
        will be
    </p>
</center>

<center><b><h1><font color="blue">City life</font></h1></b></center>
<center>
    <p>
        Welcome to Milwaukee! There is so much to do here so don't just think
        about clocking out of the office and that's it. There are restaurants all over the city nearby and far so depending on
        what floats your boat and you can really go just about anywhere. If you go take a look at yelp there is a lot interesting places to go. 
        Aside from just going to places to indulge in there are other activities there. The city of Milwaukee is defiantly the place to be where you can become anything you want. In addition if you love
        photography you can defiantly be one! Since there are so many sight seeing places it will be perfect for a instagram photoshoot or add them onto your vlog. Whatever the case maybe
        your inner creativity will shine the more you explore the city.
    </p>
</center>
<center><img src="~/images/skyful.jpg" alt="sky" /></center>


<link href="~/css/styles.css" rel="stylesheet" />


<hr style="width:50px;border:10px solid purple" class="w3-round">

<center>
<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img src="~/images/teamwork .jpg" alt="Avatar" style="width:300px;height:300px;">
        </div>

        <div class="flip-card-back">
            <h1>Oh hi there</h1>
            <p></p>
            <p>
               
        </div>
    </div>
</div>

<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img src="~/images/teamwork .jpg" alt="Avatar" style="width:300px;height:300px;">
        </div>

        <div class="flip-card-back">
            <h1></h1>
            <p></p>
            <p>

        </div>
    </div>
</div>

<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img src="~/images/teamwork .jpg" alt="Avatar" style="width:300px;height:300px;">
        </div>

        <div class="flip-card-back">
            <h1></h1>
            <p></p>
            <p>

        </div>
    </div>
</div></center>


      