@page
@model Cycle_3_AlbumModel
@{
}

<link href="~/css/gallery.css" rel="stylesheet" /> 
<link href="~/js/Photos.js" rel="stylesheet" />

<body>

    <div class="main" id="main"></div>

    <div class="cube" id="cube">
        <div class="cube cube__left">
            <img class="cube__bg" src="~/images/teamwork .jpg" style="width:100%" >
            <span class="cube__txt">This is where it begins</span>
        </div>


        <div class="cube cube__back">
            <img class="cube__bg" src="~/images/amendtech.jpg" style="width:100%" >
            <span class="cube__txt">Amend tech LLC: A small group in the big city of Milwaukee</span>
        </div>
       

        <div class="cube cube__right"> 
            <img class="cube__bg" src="~/images/thecrew.jpg" style="width:100%" >
            <span class="cube__txt">The crew that works hard and plays hard</span>
        </div>
    </div>

    <img class="control" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBB%0D%0AZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9u%0D%0AOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBT%0D%0AVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzEx%0D%0ALmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cu%0D%0AdzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGlu%0D%0AayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSI1NXB4IiBoZWlnaHQ9IjUwcHgiIHZpZXdCb3g9%0D%0AIjAgMCA1NSA1MCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNTUgNTAiIHhtbDpzcGFjZT0i%0D%0AcHJlc2VydmUiPg0KPGc+DQoJPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTM1LDM4LjI1YzAsMS42%0D%0ANS0xLjM1LDMtMywzaC05Yy0xLjY1LDAtMy0xLjM1LTMtM3YtOWMwLTEuNjUsMS4zNS0zLDMtM2g5%0D%0AYzEuNjUsMCwzLDEuMzUsMywzVjM4LjI1eiIvPg0KPC9nPg0KPGc+DQoJPHBhdGggZmlsbD0iI0ZG%0D%0ARkZGRiIgZD0iTTU1LDM4LjI1YzAsMS42NS0xLjM1LDMtMywzaC05Yy0xLjY1LDAtMy0xLjM1LTMt%0D%0AM3YtOWMwLTEuNjUsMS4zNS0zLDMtM2g5YzEuNjUsMCwzLDEuMzUsMywzVjM4LjI1eiIvPg0KPC9n%0D%0APg0KPGc+DQoJPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTE1LDM4LjI1YzAsMS42NS0xLjM1LDMt%0D%0AMywzSDNjLTEuNjUsMC0zLTEuMzUtMy0zdi05YzAtMS42NSwxLjM1LTMsMy0zaDljMS42NSwwLDMs%0D%0AMS4zNSwzLDNWMzguMjV6Ii8+DQo8L2c+DQo8Zz4NCgk8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJN%0D%0AMzUsMTguMjVjMCwxLjY1LTEuMzUsMy0zLDNoLTljLTEuNjUsMC0zLTEuMzUtMy0zdi05YzAtMS42%0D%0ANSwxLjM1LTMsMy0zaDljMS42NSwwLDMsMS4zNSwzLDNWMTguMjV6Ii8+DQo8L2c+DQo8L3N2Zz4N%0D%0ACg==">

</body>