@page
@model secretsModel
@{
}

    <link href="~/css/glowing .css" rel="stylesheet" />
    <div class="row">
        <div class="leftcolumn">
            <div class="card">

                <center><h1>Secrets of i.c.stars</h1></center>

                <h5></h5>
                <center><img src="~/images/urban1 .jpg" alt="vibes" height="450" width="650"></center>
                <p>
                    Throw away the handbook because there are some things that won't be included in the guide. Here I can tell you some things that have
                    to be learned on your own. First lets take look at our daily agenda in the company as there is a list of things to do every single day. You can't
                    be bored at all! However you should play your cards right and things will turn in your favor. So lets go backwards and take a look at career month. During this
                    month it is all about networking and meeting people who you can find a great connection with. Why start at the final month of your internship when you should really be starting
                    from the beginning?
                </p>


                <center><h1><b>Secret 1) Career month</b></h1></center>
                <p>
                    As I mentioned earlier take a look at the daily agenda and be keen to what is coming up. This is where you shouldn't follow the rules and break the rules because I have learned a lot
                    from here and all the ways to make things a little easier. Lets reverse career month and bring it to the first month of your stay here. What you really want to do is connect with the high tea guests from the very beginning. There you can
                    already get enough connections.

                    <ul>
                        <li>1. Check the schedule</li>
                        <li>2. Look at various high tea guests that are coming up. Add them on linked in with a nice note saying who you are and why you decided to add them (Since you haven't met these guests yet! It is a good idea to get ahead of the game and be someone they already know!)</li>
                        <li>Check out their profiles and see what could be a good use of conversation topics</li>
                        <li>Set up a coffee chat! Perhaps it can be at the local bella's cafe or Collectivo cafe! If you don't know what to say in the email you can ask the staff for a coffee chat template! Remember to change the words and don't send it out without double checking because it won't make sense.</li>

                    </ul>
                </p>


            </div>
            <div class="card">
                <center><h1>The dream team</h1></center>

               <center><img src="~/images/colorfulaf.gif" alt="technology" height="450" width="650" /></center>
                <center>
                    <p>
                        So what is exactly the fun part of being apart of a internship like this? You get to create your own mini company of course! There are a max of 5 but usually each group
                        runs up to 4 people. Everyone comes up with a unique name, and gets assigned roles for various projects and yes you stick with your teammates for the rest of the months to
                        come. So you mind as well get along with each other right? Aim to have fun, don't take it too seriously, and get to know your teammates. After all the work can't get done right
                        unless the members understand each other. I have compiled a quick list of tips on what to do to build stronger connections
                    </p>
                </center>

                <center><h1>Ways to have the best team there is:</h1></center>

                <ul>
                    <li>
                        1. Make it fun: Get to know everyone as early as possible! Do a ice breaker game to get to know each other more! Perhaps two truths and one lie or something
                        that everyone knows.
                    </li>

                    <li>
                        Group lunch outings: They are always fun and sure maybe it will be a bit of challenge to get all your colleagues on board but if they are up for it then you can
                        build the connection from there!
                    </li>


                    <li>
                        Don't be that A-hole: In other words don't be that person that disregards their teammates and think you can do all the work by yourself. That will most likely discourge them
                        from future group projects so make smart moves. Worst case if your teammates aren't cooperating then maybe push them to make effort but remember to be subtle and not attack.
                    </li>


                    <li>
                        Support your team: When your teammates have to do presentation give them a little more boost of encourgement and yell out your team name for more synergy! Trust me this makes other people
                        feel like you guys are being really extra but it is good to have amazing team player skills. Take one for the team because it will be worth it!
                    </li>
                </ul>

            </div>
        </div>

        <div class="row">
            <div class="leftcolumn">
                <div class="card">

                    <center><h1>Bella cafe -> Your secret hideout to revitalize your energy!</h1></center>

                    <h5></h5>
                    <center><img src="~/images/bellascoffee.jpg" alt="vibes" height="250" width="300"></center>
                    <p>

                    </p>


                    <center>
                        <title>W3.CSS</title>
                        <meta name="viewport" content="width=device-width, initial-scale=1">
                        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


                        <div class="w3-container">


                            <div class="w3-card-4" style="width:50%;">
                                <header class="w3-container w3-purple">
                                    <h1>The Monster energizer: iced latte</h1>
                                    <h1>$4.00</h1>
                                    <h1>Energy level: high</h1>
                                </header>

                                <div class="w3-container">
                                    <img src="~/images/icedcoffee.jpg" alt="Alternate Text" height="250" width="300" />
                                    <p>
                                        Unsure of their recipe ingridiant by ingridiant but based on all the comments from my collegues this is a super charged energy drink that
                                        will defiantly wake you up! It is a bit pricy for $4 but it is defiantly something to consider if you're low on energy.
                                    </p>
                                </div>

                                <footer class="w3-container w3-yellow">
                                    <h5></h5>
                                </footer>
                            </div>
                        </div>


                        <center><h1><b>Love coffee? Keep reading!</b></h1></center>
                        <center><img src="~/images/cuteness.gif" height="450" width="650"></center>

                        <p>
                            Ah~ Coffee! I have to say I am a bit of a coffee addict myself and that this is a drink that I absolutly have me more energized than ever! (Or sometimes
                            the opposite where it gives me a sugar crash.) Anyways, the point is there is a lot of good things when it comes to coffee. Trust me as a new trainee of this
                            company you will need it. After waking up so early and clocking in for a twelve hour shift who won't feel like a zombie after becoming a workaholic? Never thought you'd become a
                            person who is typing away on the computer for four hours before lunch break? Think again! You will be working hard and yes even though I say you won't be coding all day long this is still a skill
                            you should sharpen.

                        </p>

                        <center>
                            <div class="w3-container">


                                <div class="w3-card-4" style="width:50%;">
                                    <header class="w3-container w3-purple">
                                        <h1>Reasons you should drink coffee:</h1>
                                    </header>

                                    <div class="w3-container">

                                        <ul>
                                            <li>Filled with healthful antioxidants</li>
                                            <li>Boosts short term memory</li>
                                            <li>Can protect against cognitive decline</li>
                                            <li>Healthy for your heart!</li>
                                            <li>Less other disease risks such as cancer or type 2 diabetes</li>
                                            <li>Liver + coffee = Amazing results</li>
                                            <li>Enchances working out performences! Double the energy = more calories burned!</li>

                                        </ul>

                                    </div>

                                    <footer class="w3-container w3-yellow">
                                        <h5></h5>
                                    </footer>
                                </div>
                            </div>
                        </center>


                        <p>
                            Now for those who are aren't convinced just yet that coffee is a good source for health you can try tea! Yes it still contains caffiene but this is
                            a much healither alternative. If that doesn't float your boat there is also a plant based super food called: CACAO. Sure of course it still has some caffiene but this
                            is again something much healither and has almost no calories. Not slightly convinced any of these can make a good change? How about a daily dose of smoothie? Smoothie freshly squeezed
                            from fresh strawberries or oranges that contain no sugar and barely any calories maybe the healthiest energizer!
                        </p>


                        <center>
                            <title>W3.CSS</title>
                            <meta name="viewport" content="width=device-width, initial-scale=1">
                            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


                            <div class="w3-container">


                                <div class="w3-card-4" style="width:50%;">
                                    <header class="w3-container w3-purple">
                                        <link href="~/css/glowstyle.css" rel="glow" />

                                        <h1>A unofficial guide to making the most of your day!</h1>
                                    </header>

                                    <div class="w3-container">
                                        <p>
                                            When it comes to working in the office you can certiantly make the most of the day even if you are stuck indoors all day. Don't just think about work and stick to the rules. Instead break a few rules here and there and I promise you things
                                            will be more fun and worthwhile. So lets start with something easy shall we? In the beginning of course you're still trying to get
                                            the hang of how to work with conding and the homework they assign you. What else is there to do besides the daily agenda? Make your own! ALthough you
                                            clock out of work by 8pm there is still the night life to look forward to. It's up to you to make use most of the day and what you want out of this program. Everyonne has different goals and if you
                                            really are unsure where to begin perhaps ask your colleagues why they decided to come to icstars. For the next for months you can make the most of it.
                                        </p>

                                        <p>
                                            First lets think about you short term goal and then your long term goal. What is something you can complete in one month and something you can be rest assured will help you when you are done with the program? Your short term goal can be anything such as
                                            making new connections with the staff because they'll aid you well. Your long term goal can be finding a career path that makes you happy. Those are just some examples
                                        </p>

                                    </div>

                                    <h1>If you're a morning person here's some suggestion:</h1>
                                    <ul>
                                        <li>Gym membership and exercise before work</li>
                                        <li>Grab a cup of coffee after working out at Bella's cafe nearby</li>
                                        <li>Jog or brisk walk around </li>
                                        <li>Working outside: There is a little table outside of the office if you want to chill for awhile and do your work in the breeze it is open!</li>


                                    </ul>

                                    <h1>If you're a night owl here's this set of ideas:</h1>

                                    <footer class="w3-container w3-yellow">
                                        <li>Hit the gym after work! Nothing like getting energized after work! Going to be extra tired but you can burn some calories you had for breakfast, lunch and dinner!</li>
                                        <li>
                                            Paint bar: If you're 21+ and love to paint head over to the local bar and you can drink and be creative. Perhaps a little booze will increase your creativity! This is just a fun place to go to every once in awhile and share
                                            your love of art with others.
                                        </li>
                                        <li>After work club? Perhaps you can organize a get together with your colleagues and do something togeher in Milwaukee. There is so manay things to explore so make the most of your time.</li>
                                    </footer>
                                </div>
                            </div>
                        </center>



                        <div class="w3-card-4" style="width:50%;">
                            <header class="w3-container w3-purple">
                                <h1>High tea guide</h1>
                                <h1>Reasons to love your daily dose of caffiene</h1>
                                <h1>(Or just learn to bare through it!)</h1>
                            </header>

                            <div class="w3-container">
                                <img src="~/images/thatstea.jpg" alt="" height="250" width="300" />
                                <p>
                                 Here is yet another unofficial guide about what tea is like! There is a lot to do so don't think you'll just get to sit down 
                                    and sip on tea. 
                                </p>
                             <ul>
                                 <li>PREP: Yes this is a daily thing so someone will always prepare the tea! Best part is choosing which flavor you want. Here's a quick tip, if you're hosting ask what flavor 
                                 the tea is because sometimes guests will ask. Or when you're greeting them you can let them know what flavor of the tea is as a conversation ice breaker!</li>
                                 <li>HOST: May the odds ever be in your favor but everyone must become the host and serve a guest. At least every few weeks after everyone has done their part you restart and 
                                 everyone serves again for the second round.</li>


                                 <li>THIS IS A DAILY THING?: If you can't seem to bare the idea of having high tea daily then I can give you some tips to at least bare with it. This is where your networking skills come in so carefully select your 
                                 seat! You'll most likely be sitting with everyone anyways by the end of the month but it is also nice to have a few people you really get along with. After all even when prepping is done you're still waiting for the 
                                 guest to arrive so to kill some time you mind as well have a good conversation. In other words if you want to get the most out of the time there then you should really try and get along with the other co-workers. There are many 
                                 cases where you can really get a good laugh out of the conversations you make. However it is up to you to make the most out of it. So although threre are times where it can be long hours I think that this is also a perfect time to really get to 
                                 know someone you don't know. There is one thing that I do enjoy about high tea and that is everybody gets to introduced each other more than once. I do have a mini guide on how to get through high tea with the best possible tips and tricks.</li>

                                 <center><ul>
                                     <li>
                                         1. CONVERSATIONS: Don't know where to begin? Start with perhaps talking about work or the drink itself. Whatever the case maybe the best way to start is to try something in common and then go from there. </li></ul></center>
                                         2. COOKIES AND TEA: Time for the best part which is the daily dose high contained caffiene, and this can be another way to start a topic off. 
                                         3. CHANGE IT UP: Although we don't get to do this often there are several ways you can actually try to make it more appealing. Perhaps right a email to Ben or Will about this and they will be able to approve it. So the suggestion here is that you could make high tea a little 
                                         
                             </ul>
                            </div>

                            <footer class="w3-container w3-yellow">
                                <h5></h5>
                            </footer>
                        </div>
                </div>



